/*.lo
/*.o
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.guess
/config.guess.cdbs-orig
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/config.sub.cdbs-orig
/configure
/debian/*.debhelper.log
/debian/*.postinst.debhelper
/debian/*.postrm.debhelper
/debian/*.substvars
/debian/autoreconf.after
/debian/autoreconf.before
/debian/files
/debian/libgbm-dev/
/debian/libgbm1/
/debian/stamp-*
/debian/tmp/
/depcomp
/gbm.pc
/install-sh
/libgbm.la
/libtool
/ltmain.sh
/missing
/stamp-h1
